/*
File name:styles
Author:Matthew w
*/
body, html {
    width: 100%;
    height: 100%;
}

#form-group{margin-left:60px;margin-right:60px
	
	
}
#form-name{
	margin-left:120px;
}
.navbar{
	margin-bottom:0px;
	border-radius:0px;
}

.navbar-inverse {
    background-color: #822dc3;
    border-color: #822dc3;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #e5e1d1;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #e5e1d1;
    background-color: transparent;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #aec251;
}

#background-img{
	background: url("bckgrnd.jpg") no-repeat center center;
	
}

.col-md-2{
	padding-left:0px;
	padding-right:0px;
}
.form-control{
	width:300px ;
}

label{
	width:300px;
	text-align:left;
}

#form-styles{
  padding-right:50px;	
}
#fname{
	margin-right:30px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.container{
	padding-top:50px;
}


.form-control{
	width:280px;
}
#input-name{
	margin-right:30px;
}
.intro-back{
	padding-top: 0px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("/bckgrnd.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.intro-header{
	padding-top: 0px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("bckgrnd.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
	
}
#intro-panel{
   margin-left:200px;	
}
#rows{
	padding-bottom:0px;
}

.intro-divider {
    
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

p{
	color:#f8f8f8;
}

.intro-message {
	
	margin:100px;
	padding-left:15px
}



#lists-panel{
padding:100px;	
}

.panel{
	margin-top:auto;
	background-color:#822dc3;
	padding-left:10px;
	padding-top:0px;
	width:300px;
}

.panel-default{
	margin-top:0px;
	width:300px;
	margin-right:20px;
	margin-left:420px;
}
#panel-head{
	padding-left:90px
}

.panel-default>.panel-heading{
	width:275px;
	background-color:#977bb5;
	border-bottom:0px;
	padding-bottom:0px;
	padding-right:0px;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-body {
    padding: 1px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

#recipe-panel{
	padding-left:0px;
}

#signup-form{
	width:400px;
	margin:0px auto;
	margin-top:0px;
}

.row{
	width:258px;
	margin-left:0px;
}