{%extends "base.html"%}
{%block top%}<li><a href="#"><span></span> Signup</a></li>{%endblock%}
{%block body%}
<div id="register-form" class="panel panel-default"><p><h1>Recipe</h1>
 <form id="form-style" action="#" method="POST">
    <div class="form-group">
     <label for="name">Name:</label>
     <input type="text" class="form-control" name="form.name" required>
    </div>
    <div class="form-group">
     <label for="pwd">Description:</label>
     <input type="text" class="form-control" name="form.description" required>
    </div>
    <div class="form-group">
  <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
</div>
{%endblock%}