{%extends "base.html"%}
{%block top%}<li><a href="#"><span></span> Logout</a></li>{%endblock%}
{%block body%}

 <div class="panel panel-default">
  <div class= "panel panel-heading">
   <div class="row">
   <div class="col-md-8">
    Confectionary
   </div>
   <a class="col-md-2" href="#">
   Add
   </a>
   </div>
  </div>
  {% for recipe in recipes %}
    <div class="panel panel-body row">
	<div class="col-md-4" href="<!--view recipes in category-->">
	 {{recipe.name}}
	</div>
	<div class="col-md-4">
     {{category.description}}
    </div>
	<div>
	<a class="col-md-2" href="#">
	Edit
	</a>
	</div>
	<div>
	<a class="col-md-2" href="#">
	Delete
	</a>
	</div>
	</div>
  {% endfor %}
 </div>
{%endblock%}