{%extends "base.html"%}
{%block top%}<li><a href="#"><span></span> Login</a></li>{%endblock%}
{%block body%}
<div id="register-form" class="panel panel-default">
 <form id="form-style" action="#" method="POST">
    <div class="form-group">
     <label for="name">Full name:</label>
     <input type="text" class="form-control" name="form.name" required>
	</div>
    <div class="form-group">
     <label for="email">Email address:</label>
     <input type="email" class="form-control" name="form.email" required>
    </div>
    <div class="form-group">
     <label for="pwd">Password:</label>
     <input type="password" class="form-control" name="form.password" required>
    </div>
    <div class="form-group">
  <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
</div>
{%endblock%}