{%extends "base.html"%}
{%block top%}<li><a href="/signup"><span></span> Logout</a></li>{%endblock%}
{%block body%}

<div id="register-form" class="panel panel-default">
   {%if list_categories%}
   <div class= "panel panel-heading">
     <h2>Categories</h2>
   </div>
   {%for category in list_categories%}
        <div class="panel panel-body">
	      {{category.name}}
	    </div>
	{%endfor%}	
		<div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No items have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('recipe.add_category') }}" class="btn btn-default btn-lg">
            <i class=""></i>
            Add category
          </a>
        </div>
      </div>
</div>


{%endblock%}