{%extends "base.html"%}
{%block top%}<li><a href="/logout"><span></span> Logout</a></li>{%endblock%}
{%block body%}
<div id="register-form" class="panel panel-default">
   {%if list_recipes%}
       <div class= "panel panel-heading">
	       <div class="row">
			    <div class="col-md-8">
                    <h2>Recipes</h2>
		        </div>
				<div class="col-md-4">
				    <li><a href="{{url_for('recipe.add_recipes')}}">Add</a></li>
				</div>
			</div>
       </div>
       {%for recipe in list_recipes%}
            <div class="panel panel-body">
	            <li><a href="{{url_for('recipe.edit_recipe')}}">{{recipe.name}}</a></li>
	        </div>
	   {%endfor%}	
		    <div style="text-align: center">
    {% else %}
        <div style="text-align: center">
            <h3> No recipes have been added. </h3>
            <hr class="intro-divider">
    {% endif %}
        <a href="{{ url_for('recipe.add_recipe') }}" class="btn btn-default btn-lg">
        <i class=""></i>
            Add recipe
        </a>
        </div>
      </div>
</div>


{%endblock%}